*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}
.underline{
    width: 200px;
    height: 2px;
    background-color: yellow;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    height: 300px;
    border: 2px solid #000000;
    margin-top: 24px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightyellow;
    padding: 5px;
}
h3{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    background-color: red;
}
@media (min-width: 992px) {
    .card{
        width: 30%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .card{
        height: 240px;
    }
    .info-2, .info-1{
        width: 40%;
    }
    .info-3{
        width: 90%;
        position: absolute;
        margin-top: 300px;
    }
}
@media (max-width: 767px) {
    section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .card{
        margin-bottom: 12px;
        margin-left: 24px;
        margin-right: 24px;
    }
}
